
/*
Theme Name:   Vilomix
Description:  Vilomix Theme
Author:       ndrv
Template:     storefront
Version:      1.0.23
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  vilomix
*/
:root {
    --blue: #103F6D;
    --grey: #f5f5f5;
    --lblue: #d0deea;
    --orange: #f18c20;
    --shadow: 0px 0px 15px 5px rgb(0 0 0 / 34%);
  }
  
  a:focus,
  button:focus,
  .button.alt:focus,
  input:focus,
  textarea:focus,
  input[type="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus {
    outline-color: #103F6D;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  h2,
  h1 {
    font-sizE: 40px;
    font-weight: 100;
    text-transform: uppercase;
  }
  
  .woocommerce-shop h1 {
    display: none;
  }
  
  h3 {
    text-transform: uppercase;
  }
  
  h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  a.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .cat-list-block-wrapper {
    background-color: var(--grey);
    padding: 40px 0 20px;
  }
  
  .home .cat-list-block-wrapper {
    padding-top: 0px;
  }
  
  .cat-grid-item-wrapper {
    display: flex;
  }
  
  .cat-grid-item {
    position: relative;
    margin-bottom: 80px;
    background-color: #ebebeb;
    width: 100%;
  }
  
  @media screen and (max-width:578px) {
    .cat-grid-item {
      margin-bottom: 40px;
    }
  }
  
  .cat-grid-item .cat-image {
    padding-top: 75%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: calc(100% - 4rem);
    margin: 1rem auto 1rem;
  }
  
  .cat-grid-item.vistam .cat-image {
    width: 40%;
  }
  
  .cat-grid-item.cukam .cat-image {
    width: 65%;
  }
  
  .cat-grid-item h4 {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid;
    width: calc(100% - 30px);
    margin: auto;
  }
  
  .cat-grid-item img {
    margin-bottom: 20px;
  }
  
  .category-description {
    display: flex;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  
  .category-description .desc-txt {
    flex: 1 1 10%;
    padding-right: 40px;
  }
  
  .category-description .category-image {
    flex: 0 0 400px;
    background-size: contain;
    background-position: center;
    padding-top: 300px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /*************Header************************/
  
  header.site-header {
    padding-top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding-bottom: 0;
    z-index: 1000;
  }
  
  .header-helper {
    height: 120px;
    margin-bottom: 70px;
  }
  
  header .top-bar {
    background-color: var(--blue);
    color: #fff;
    padding: 0.75rem;
  }
  
  header .top-bar .row {
    height: 30px;
  }
  
  
  header.not-on-top .top-bar .logo-wrapper {
    display: flex;
    align-items: center;
  }
  
  header .top-bar .logo-wrapper img {
    height: 30px;
  }
  
  
  
  
  .welcome-txt {
    display: flex;
    align-items: center;
  }
  
  header .top-bar .cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .top-bar .cart-wrapper .quick-cart-wrapper {
    display: flex;
  }
  
  header .top-bar .cart-wrapper .weight-dissclaimer {
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    margin-right: 10px;
    position: relative;
  }
  
  header .top-bar .cart-wrapper .weight-dissclaimer .weight-disclaimer-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(src/ietaupijums_2.svg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header .top-bar .cart-wrapper .weight-dissclaimer .weight-disclaimer-txt {
    position: absolute;
    top: 100%;
    right: calc(50% - 2rem);
    background-color: var(--orange);
    z-index: 999;
    padding: 0.5rem 1rem;
    width: 300px;
    transition: all 0.3s;
    opacity: 0;
    transform: scale(0.8);
    max-height: 0;
    overflow: hidden;
    transform-origin: top right;
  }
  
  header .top-bar .cart-wrapper .weight-dissclaimer:hover .weight-disclaimer-txt {
    opacity: 1;
    transform: scale(1);
    max-height: 150px;
  
  }
  
  .phone-icon {
    width: 15px;
    height: 15px;
    background-image: url(src/phone.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    display: inline-block;
  }

  .call-now a {
    color:#fff;
    text-decoration: underline;
  }
  
  header #site-header-cart {
    width: 250px;
  }
  
  header #site-header-cart .cart-contents {
    padding: 0;
  }
  
  header #site-header-cart li>a {
    color: #fff;
  }
  
  header #site-header-cart .widget_shopping_cart_content a {
    color: var(--blue) !important;
  }
  
  @media screen and (max-width:991px) {
    header .top-bar .row {
      flex-direction: column;
      height: auto;
      align-items: center;
      /* justify-content: center; */
    }
  
    header .top-bar .logo-wrapper {
  
      width: 100%;
      text-align: center;
    }
  
    header.not-on-top .top-bar .logo-wrapper {
      display: none;
    }
  
    header .top-bar .logo-wrapper img {
      margin: 3px auto 7px;
      /* margin-bottom: 7px; */
    }
  
    .welcome-txt {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    header.not-on-top .welcome-txt {
      display: none;
    }
  
    .welcome-txt {
      width: 100%;
      text-align: center;
    }
  
    header .top-bar .cart-wrapper {
      justify-content: center;
      width: 100%;
    }
  
    header .top-bar .cart-wrapper .quick-cart-wrapper {
      display: none;
    }
  }
  
  header .main-nav {
    position: relative;
    margin-right: 100px;
  }
  
  header .main-nav .nav-toggler {
    color: var(--blue);
    text-transform: uppercase;
    cursor: pointer;
    background-image: url(src/arrow-btm.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 1rem;
    font-size: 16px;
  }
  
  header .nav-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    /* box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 34%); */
  }
  
  header .nav-dropdown>ul {
    margin: 0;
    display: none;
    /* max-height: 0; */
    transition: all 0.3s;
    box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 34%);
    z-index: 10;
  }
  
  header nav:hover .nav-dropdown>ul {
    display: block
  }
  
  header .nav-dropdown>ul li {
    list-style-type: none;
  }
  
  header .nav-dropdown>ul>li {
    position: relative;
    background-color: #fff;
  }
  
  header .nav-dropdown>ul>li>a {
    color: #333;
    padding: 0.5rem;
    display: block;
    /* border:1px solid #ccc */
  }
  
  header .nav-dropdown>ul>li>a:hover,
  header .nav-dropdown>ul>li:hover>a {
    background-color: var(--lblue);
  }
  
  header .nav-dropdown>ul>li>ul {
    z-index: 8;
    background-color: #fff;
    box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 34%);
  }
  
  header .nav-dropdown>ul>li>ul>li>a {
    color: #333;
    padding: 0.5rem;
    display: block;
  }
  
  header .nav-dropdown>ul>li>ul>li>a:hover {
    background-color: var(--lblue);
  }
  
  header .nav-dropdown>ul>li>ul {
    position: absolute;
    left: 100%;
    width: 200px;
    margin-left: 0;
    top: 0;
    display: none;
  }
  
  header .nav-dropdown>ul>li:hover>ul {
    display: block;
  }
  
  header .logo,
  header .logo-2 {
    display: flex;
    align-items: flex-end;
    position: relative;
  }
  
  header .logo a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: transparent;
    outline-color: transparent;
  }
  
  header .logo img {
    width: 250px;
  }
  
  header .logo-2 img {
    width: 220px;
    margin-bottom: -0.5rem;
  }
  
  header .nav-search {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .mobile-search-toggler {
    display: none;
  }
  
  header nav .nav-dropdown>ul.mob {
    display: none !important;
  }
  
  @media screen and (max-width:991px) {
    header .main-nav .nav-toggler {
      display: none;
    }
  
    header .main-nav .nav-toggler-mobile {
      width: 40px;
      height: 40px;
      background-image: url(src/burger.svg);
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      /* order: 3; */
    }
  
    header nav .nav-dropdown>ul.mob {
      /* display:block!important; */
    }
  
    header nav:hover .nav-dropdown>ul {
      display: none;
    }
  
    header nav.main-nav.active .nav-dropdown>ul {
      display: block !important;
    }
  
    header .nav-dropdown {
      position: fixed;
      top: 60px;
      left: auto;
      right: 0;
      z-index: 999;
    }
  
    header .nav-dropdown>ul>li>ul {
      position: static;
      background-color: #efefef;
    }
  
    header .nav-dropdown>ul>li:hover>ul {
      display: none;
    }
  
    header .nav-dropdown>ul>li>ul.opened {
      display: block;
    }
  
    .second-line-wrapper .search {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s;
    }
  
    .second-line-wrapper .search.visible {
      max-height: 200px;
    }
  
    .site-search {
      display: block
    }
  
    .mobile-search-toggler {
      width: 40px;
      height: 40px;
      display: block;
      background-image: url(src/search.svg);
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  
    .mobile-cart {
      width: 40px;
      height: 40px;
      display: block;
      background-image: url(src/cart.svg);
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      position: relative;
    }
  
    .mobile-cart a {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  
    header .main-nav {
      margin-right: 0px;
      order: 3;
    }
  }
  
  
  
  .woocommerce-active .site-header .nav-search .site-search {
    margin: 0;
    width: 100% !important;
  }
  
  .slideshow-block-wrapper {
    background-color: var(--grey);
    /* margin-bottom:15px; */
    padding-top: 20px;
    margin-top: -70px;
  }
  
  .slideshow-block-wrapper .slide-links {
    display: flex;
    justify-content: center;
  }
  
  .slideshow-block-wrapper .slide-links .slide-link {
    width: 15px;
    height: 15px;
    border: 2px solid var(--blue);
    margin: 10px 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .slideshow-block-wrapper .slide-links .slide-link.active {
    background-color: var(--blue);
  }
  
  .slideshow-wrapper {
    position: relative;
    /* padding-top:30%; */
  }
  
  .slideshow-wrapper .slides {
    padding-top: 25%;
  }
  
  .slideshow-wrapper .slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    transition: all 0.3s;
    display: none;
    opacity: 0;
  }
  
  .slideshow-wrapper .slide.active {
    display: flex;
  }
  
  .slideshow-wrapper .slide .content {
    color: #fff;
    background-color: var(--blue);
    flex: 0 0 30%;
    display: flex;
    padding: 2rem;
    align-items: flex-start;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
  }
  
  .slideshow-wrapper .slide .slide-img {
    flex: 0 0 100%;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .slideshow-wrapper .slide .slide-img a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  
  .slideshow-icons {
    text-align: center;
    padding: 20px 0;
  }
  
  @media screen and (max-width:576px) {
    .slideshow-wrapper .slides {
      padding-top: 100%;
      position: relative;
    }
  }
  
  header .cart {
  
    display: flex;
  
    margin-left: auto;
  
    justify-content: flex-end;
  
    position: relative;
  }
  
  header .cart .quick-cart-modal {
    position: absolute;
    top: calc(100%);
    color: #333;
    width: 300px;
    z-index: 999;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.3s;
  }
  
  header .cart:hover .quick-cart-modal {
    box-shadow: var(--shadow);
    max-height: 600px;
  }
  
  header .cart .quick-cart-modal table {
    margin-bottom: 0;
    line-height: 30px;
  }
  
  header .cart .quick-cart-modal td {
    padding: 0.3rem
  }
  
  header .cart .quick-cart-modal td:first-child {
    padding-left: 1rem;
  }
  
  header .cart .quick-cart-modal .remove-item-button {
    width: 30px;
    height: 30px;
    background-image: url(src/remove.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  header .cart .quick-cart-modal .go-to-cart-wrapper {
    text-align: right;
  }
  
  header .cart .quick-cart-modal .go-to-cart {
    position: relative;
    background-color: var(--blue);
    display: inline-block;
    color: #fff;
    padding: 15px;
    margin: 10px 15px 15px auto;
  }
  
  header .cart a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  
  }
  
  header .cart .cart-icon {
    background-image: url(src/cart_icon.svg);
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 0.8rem;
  }
  
  header .cart .cart-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  header .cart .cart-description p {
    margin-bottom: 0;
    font-size: 0.7rem;
    line-height: 1em
  }
  
  .slider-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider-icons .the-icon {
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.5rem;
  }
  
  .slider-icons .the-icon.delivery {
    background-image: url(src/box_2.svg);
  }
  
  .slider-icons .the-icon.quality {
    background-image: url(src/razotajs3.jpg);
  }
  
  /*************Product grid******************/
  
  .product-simple {
    margin-bottom: 4rem;
  }
  
  .product-wrapper {
    /* margin-bottom:3rem; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hentry .entry-content a {
    text-decoration: none;
    color: #333;
  }
  
  .product-wrapper .img-wrapper {
    position: relative;
  }
  
  .product-wrapper .img-wrapper .has-discount {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 10px;
    background-color: #f18c20;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 0 10px;
  }
  
  .product-wrapper .img-wrapper .has-discount.is-pop {
    top: 60px;
  }
  
  /*product-has-discount*/
  .product-wrapper .img-wrapper .popular-product {
    height: 40px;
    width: 60px;
    position: absolute;
    top: 10px;
    background-color: var(--blue);
    background-image: url(src/popular.svg);
    background-size: 27px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .product-wrapper .img-wrapper .popular-product.product-has-discount {
    top: 60px;
  
  }

  .product-wrapper .img-wrapper .non-gmo {
    height: 40px;
    width: 60px;
    position: absolute;
    top: 10px;
    background-color: green;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 700;
    background-image: url(src/non-gmo.svg);
  }

  .product-wrapper .img-wrapper .non-gmo.one-front {
    top: 60px;
  }

  .product-wrapper .img-wrapper .non-gmo.two-front {
    top: 110px;
  }
  
  .product-wrapper img {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .product-wrapper h3 {
    text-transform: uppercase;
  }
  
  .product-wrapper .short-desc {
    margin-bottom: 0.5rem;
  }
  
  .product-wrapper a {
    color: #333;
  }
  
  .product-wrapper .price-and-leftover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .product-wrapper .price-and-leftover .price {
    font-weight: 700;
    position: relative;
    font-size: 1.6rem;
  }
  
  .product-wrapper .price-and-leftover .price .actual-price.has-discount {
    color: var(--orange);
  }
  
  .product-wrapper .price-and-leftover .original-price {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.6em;
    line-height: 3px;
    text-decoration: line-through;
    font-weight: 500
  }
  
  .product-wrapper .price-and-leftover .leftover.in-stock {
    color: green;
  }
  
  .product-wrapper .price-and-leftover .leftover.not-in-stock {
    color: red;
  }
  
  .product-wrapper .pack-size-blk {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .product-wrapper .pack-size {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  
  .cat-items .order-setup {
    background-color: var(--grey);
    padding: 20px 5px 5px;
    border-top: 1px solid #ccc;
    transition: all 0.3s;
    /* min-height: 113px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .cat-items .order-setup.in-basket {
    background-color: var(--lblue)
  }
  
  .product-wrapper .amount {
    display: flex;
    justify-content: flex-start;
    /* margin-top: 1rem; */
    transition: all 0.3s;
    overflow: hidden;
    max-height: 150px;
    flex-direction: column;
  }

  .in-basket {
    white-space: nowrap
  }
  
  .product-wrapper .equalizer-amount {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  @media screen and (max-width:1200px) {
    .product-wrapper .equalizer-amount {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  .product-wrapper .amount.hidden {
    max-height: 0px;
  }
  
  
  
  .amount-controls {
    display: flex;
    width: 190px;
  }
  
  @media screen and (max-width: 768px) {
    .amount-controls {
      margin-left: auto;
    }
  
    .product-subtotal {
      border-bottom: 2px solid #ccc;
    }
  
    .coupon-row {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  
    .coupon-row input {
      margin-bottom: 10px;
    }
  }
  
  table.cart td,
  table.cart th {
    padding: 1rem
  }
  
  table.cart td.remve-product {
    width: 40px;
  }
  
  @media screen and (max-width:768px) {
  
    table.cart tr {
      position: relative;
    }
  
    table.cart td.remve-product {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  
  table.shop_table_responsive .remove {
    /* background-color: red; */
    width: 30px;
    height: 30px;
    background-image: url(src/close-d.svg);
    background-size: 70%;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s;
  }
  
  table.shop_table_responsive .remove:hover {
    background-color: #efefef;
  }
  
  .amount .label {
    margin-right: 1rem;
  }
  
  .amount-controls>* {
    flex: 0 0 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .amount-controls .amount {
    flex: 0 0 50px
  }
  
  .amount-controls input {
    width: 100%;
    height:100%;
    padding:0;
    text-align:center;
  }
  
  .amount-controls .amount-display {
    background-color: #fff;
    border-right: 0px;
    border-left: 0px;
  }
  
  .amount-controls .ctrl-btn {
    background-color: #e4e4e4;
  }
  
  .amount-controls .ctrl-btn:hover {
    background-color: #c7c7c7;
  }
  
  
  .add-to-basket {
    background-color: #103F6D;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .site-footer {
    background-color: #555;
    color: #fff;
    padding-bottom: 2rem;
    margin-top: 15px;
  }
  
  .site-footer a,
  .site-footer h3 {
    color: #fff !important;
  }
  
  .title_and_price {
    display: flex;
    justify-content: space-between;
  }
  
  
  
  .single-product .title_and_price {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
  }
  
  .title_and_price .price-blk {
    text-align: right;
  }
  
  .title_and_price .price-blk .pvn,
  .title_and_price .price-blk .per-kg {
    font-size: 0.9em;
    line-height: 1em
  }
  
  
  .title_and_price .price {
    font-size: 34px;
    font-weight: 700;
    margin-left: 2rem;
    position: relative;
  }
  
  @media screen and (max-width:578px) {
    .title_and_price {
      flex-direction: column;
    }
  
    .title_and_price .price-blk {
      text-align: left;
    }
  
    .title_and_price .price {
      margin-left: 0rem;
    }
  
  }
  
  .title_and_price .price .original-price {
    position: absolute;
    top: -0.8em;
    right: 0;
    font-weight: 500;
    font-size: 0.7em;
    text-decoration: line-through;
  }
  
  .title_and_price .price .actual-price.has-discount {
    color: var(--orange);
  }
  
  .pack-size-blk {
    display: flex;
    align-items: center;
  }
  
  .pack-size-blk .pack-size {
    margin-right: 1rem;
    margin-bottom: 0;
  }
  
  .pack-size-blk .unit {
    padding: 0.2rem 2rem 0.2rem 0.6rem;
    border: 1px solid #ccc
  }
  
  .amount-and-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 150px;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  @media screen and (max-width:991px) {
    .main-product-info .amount-and-add {
      flex-direction: column;
      align-items: flex-start
    }
  
    .main-product-info .amount-and-add .amount {
      margin-bottom: 20px;
    }
  
  }
  
  @media screen and (max-width:768px) {
    .main-product-info .amount-and-add {
      flex-direction: row;
    }
  }
  
  @media screen and (max-width:400px) {
    .main-product-info .amount-and-add {
      flex-direction: column;
    }
  }
  
  .main-product-info .amount-and-add {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .main-product-info .leftover {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .main-product-info .leftover.in-stock {
    color: green;
  }
  
  .delivery-info {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .delivery-info .delivery-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-image: url(src/box.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat
  }
  
  .delivery-info .in-stock {
    color: green;
  }
  
  .delivery-info a {
    font-weight: 800;
    color: #333;
  }
  
  .amount-and-add.hidden {
    max-height: 0;
  }
  
  .single-product .amount {
    display: flex;
    align-items: center;
  }
  
  .main-product-info .add-to-basket {
    margin-top: 0;
  }
  
  .to-checkout-wrapper {
    display: flex;
  
  }
  
  .to-checkout {
    background-color: var(--blue);
    display: inline-block;
    position: relative;
    color: #fff;
    padding: 0.5rem 2rem;
    margin-left: auto;
  }
  
  .to-checkout a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  
  }
  
  .total-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-totals .shipping {
    margin-top: 40px;
  }
  
  .cart-totals .shipping .woocommerce-shipping-methods {
    margin-bottom: 0;
  }
  
  .cart-totals .shipping .woocommerce-shipping-destination {
    /* display: none; */
  }
  
  .woocommerce-cart .total-line .total-value {
    font-weight: 700;
    font-size: 1.5em;
    position: relative;
    display: flex;
  }
  
  .woocommerce-cart .total-line .total-value .free-icon-wrapper {
    position: absolute;
    left: calc(100% + 10px);
    top: 5px;
    z-index: 999;
  }
  
  @media screen and (max-width: 768px) {
    .woocommerce-cart .total-line .total-value .free-icon-wrapper {
      position: static;
      display: inline-block;
      /* margin-bottom: -16px; */
      padding-top: 3px;
    }
  }
  
  .woocommerce-cart .woocommerce-shipping-methods .woocommerce-Price-amount {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .woocommerce-cart .woocommerce-shipping-methods li label {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .total-line.last-total-line {
    margin-top: 2rem;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  
  .social-icon a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .social-icon.facebook {
    background-image: url(src/facebook_icon.svg);
  }
  
  .second-line-wrapper {
    position: relative;
  }
  
  .header-main {
    padding: 15px 0;
  }
  
  
  
  .woocommerce-breadcrumb a:first-of-type::before {
    display: none;
  }
  
  @media screen and (min-width: 992px) {
    .storefront-breadcrumb .col-full {
      max-width: 960px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .storefront-breadcrumb .col-full {
      max-width: 1140px
    }
  }
  
  .storefront-breadcrumb .col-full {
    max-width: 1320px;
  }
  
  .storefront-breadcrumb {
    margin-bottom: 40px;
  }
  
  /*********sort select************/
  .orderby {
    position: relative;
    font-family: Arial;
  }
  
  .orderby select {
    display: none;
    /*hide original SELECT element: */
  }
  
  .orderby {
    border: 1px solid #e4e4e4;
    width: 230px;
    border-radius: 3px;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,
  .select-selected {
    color: #333;
    padding: 8px 16px;
  
    cursor: pointer;
  }
  
  .select-selected::before {
    content: '';
    background-image: url('src/vilomix-sort.svg');
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #fff;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: var(--shadow);
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover,
  .same-as-selected {
    background-color: var(--lblue);
  }
  
  .prop-list {
    margin-bottom: 10px;
    display: flex;
  }
  
  .prop-list .the-prop {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    margin-right: 10px;
  }
  
  .prop-list .the-prop .icon {
    width: 35px;
    height: 35px;
    /* background-color:var(--blue); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* margin-right:10px; */
  }
  
  .prop-list .the-prop span {
    font-size: 14px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    padding: 0.5rem 1rem;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .main-product-info .prop-list .the-prop span {
    display: block !important;
    opacity: 1;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    background-color: transparent;
    color: #333
  }
  
  .prop-list .the-prop:hover span {
    display: block;
    opacity: 1;
  }
  
  .shipping-option .disabled-description {
    display: none;
  }
  
  .shipping-option.disabled .disabled-description {
    display: block;
  }
  
  .cat-items {
    margin-bottom: 80px;
  }
  
  .contact-form {
    background-color: var(--lblue);
    padding: 45px;
    margin-bottom: 80px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form label {
    width: 100%;
  }
  
  .added-to-cart-info {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 80%;
    left: 10%;
    top: 200px;
    box-shadow: var(--shadow);
    padding: 40px;
    text-align: center;
    transition: all 0.3s;
    transform: translateY(20px);
    opacity: 0;
  }
  
  .added-to-cart-info.show {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .added-to-cart-info>.close-btn {
    position: absolute;
    background-color: var(--blue);
    widtH: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
    background-image: url(src/close.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .added-to-cart-info .prod-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .added-to-cart-info .prod-info img {
    width: 40px;
    margin-right: 10px;
  }
  
  .added-to-cart-info .btn.close-btn {
    border: 1px solid #333;
    margin-right: 10px;
  }
  
  .added-to-cart-info .btn.buy {
    background-color: var(--blue);
    color: #fff;
    position: relative;
  }
  
  .added-to-cart-info .btn.buy a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .totals-wrapper {
    margin-bottom: 40px
  }
  
  #customer_details .col-1 {
    width: 100%;
  }
  
  .back .btn {
    position: relative;
    border: 1px solid #ccc;
  }
  
  .back .btn a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .main-product-info {
    margin-bottom: 4rem;
  }
  
  .main-product-info .prod-img-wrapper {
    position: relative;
  }
  
  .main-product-info .prod-img-wrapper .has-discount {
    height: 40px;
    width: 60px;
    position: absolute;
    top: 50px;
    background-color: #f18c20;
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    padding: 0 10px;
    z-index: 999;
  
  }
  
  .main-product-info .prod-img-wrapper .has-discount.is-pop {
    top: 100px;
  }
  
  .main-product-info .prod-img-wrapper .popular-product {
    height: 40px;
    width: 60px;
    position: absolute;
    top: 50px;
    background-color: var(--blue);
    background-image: url(src/popular.svg);
    background-size: 27px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .main-product-info .prod-img-wrapper .popular-product.product-has-discount {
    top: 100px;
  }

  .main-product-info .prod-img-wrapper .non-gmo {
    height: 40px;
    width: 60px;
    position: absolute;
    top: 50px;
    background-color: green;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 700;
    background-image: url(src/non-gmo.svg);
  }

  .main-product-info .prod-img-wrapper .non-gmo.one-front {
    top: 100px;
  }

  .main-product-info .prod-img-wrapper .non-gmo.two-front {
    top: 150px;
  }
  
  .main-product-info .woocommerce-product-gallery {
    margin-bottom: 20px;
  }
  
  .coupon {
    margin-bottom: 20px;
  }
  
  .coupon label {
    margin-bottom: 10px;
  }
  
  .select-type {
  
    display: none;
    margin-bottom: 20px;
  }
  
  .select-type.show {
    display: flex;
  }
  
  #billing_wooccm11_field {
    display: none;
  }
  
  .select-type .ecommerce-type {
    background-color: #dfdfdf;
    padding: 10px 25px;
    margin-right: 10px;
    transition: all .3s;
    cursor: pointer;
  }
  
  .select-type .ecommerce-type.active {
    background-color: var(--blue);
    color: #fff;
  }
  
  @media screen and (max-width:991px) {
    .category-description {
      flex-direction: column;
    }
  
    .category-description .desc-txt {
      padding: 0;
      margin-bottom: 40px;
  
    }
  
    .category-description .category-image {
      width: 100%;
      flex: 0 0 200px;
    }
  }
  
  
  
  .overview-wrapper-mobile {
    display: none;
  }
  
  @media screen and (max-width:768px) {
  
    .footer-col {
      margin-bottom: 40px
    }
  
    .footer-col p:last-child {
      margin-bottom: 0;
    }
  
    .overview-wrapper {
      display: none;
    }
  
    .overview-wrapper-mobile {
      display: block;
      margin-bottom: 40px;
    }
  }
  
  #order_review td,
  #order_review th,
  #payment .place-order {
    background-color: #fff !important;
  }
  
  .woocommerce-cart-form .actions {
    /* background-color: #fff!important; */
  }
  
  .woocommerce-cart-form .actions {
    vertical-align: middle;
    border-top: 0px !important;
    background-color: #fdfdfd !important;
  }
  
  .woocommerce-cart-form .actions .action-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding-right: 1rem;
  }
  
  @media screen and (max-width: 768px) {
    .woocommerce-cart-form .actions .action-wrapper {
      justify-content: flex-start;
      padding: 0 0 20px 15px
    }
  }
  
  .woocommerce-cart-form .actions .action-wrapper .btn {
    position: relative;
  }
  
  .woocommerce-cart-form .actions .action-wrapper .btn a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .woocommerce-cart-form .actions .action-wrapper .btn,
  .remove-coupons.btn {
    background-color: #efefef;
    height: 45px;
    display: flex;
    align-items: center;
  }
  
  .remove-coupons.btn {
    background-color: #ddd;
    display: inline-block;
    line-height: 28px;
  }
  
  .woocommerce-cart-form .actions .action-wrapper .btn:hover,
  .remove-coupons.btn:hover {
    background-color: #ccc;
  }
  
  .shipping-option {
    margin-bottom: 1rem
  }
  
  .shipping-option-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    background-color: #fff;
    cursor: pointer;
  }
  
  .shipping-option.selected .shipping-option-title {
    background-color: var(--lblue);
  }
  
  .shipping-option.disabled .shipping-option-title {
    color: #888;
    background-color: #efefef;
    cursor: auto
  }
  
  .shipping-option.selected .shipping-option-form {
    padding: 1rem;
    max-height: 600px;
    display: block;
  }
  
  .shipping-option.selected .shipping-option-form.courier {
    display: none;
  }
  
  .woocommerce-checkout .shipping-option.selected .shipping-option-form.courier {
    display: none;
  }

  #payment .payment_methods>.wc_payment_method>label {
    display: flex;
  }
  
  .shipping-option-title .price {
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    align-items: center;
  }
  
  .shipping-option-form {
    background-color: #fff;
    padding: 1rem;
    /* overflow: hidden; */
    max-height: 0;
    padding: 0;
    display: none;
    transition: all 0.3s;
  }
  
  .shipping-calculator-button {
    background-color: #efefef;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 0.25rem;
    transition: all 0.3s;
  }
  
  .shipping-calculator-button:hover {
    background-color: #ccc;
  }
  
  .shipping-calculator-form {
    margin-top: 2rem
  }
  
  .shipping_method {
    display: none;
  }
  
  .free-icon-wrapper {
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 10px;
  }
  
  .free-icon-wrapper .free-icon-txt {
    position: absolute;
    top: 100%;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--blue);
    color: #fff;
    right: 0;
    width: 300px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .free-icon-wrapper:hover .free-icon-txt {
    padding: 0.5rem 1rem;
    max-height: 200px;
  }
  
  .free-icon-wrapper .free-icon {
    width: 30px;
    height: 30px;
    background-color: var(--blue);
    display: inline-block;
    background-image: url(src/info3.svg);
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .payment_box {
    /* display: none !important; */
    padding: 0!important;
  }
  
  .wc_payment_methods .title {
    padding: 1rem 1rem;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
  }
  
  .wc_payment_methods.selected .title {
    background-color: var(--lblue);
    /* border: 1px solid var(--ccc); */
    /* cursor: pointer; */
    position: relative;
  }
  
  .wc_payment_methods.cards .wc_payment_method,
  .wc_payment_methods .wc_payment_method {
    display: none;
  }

.wc_payment_methods.transfer.selected .wc_payment_method {
  display: block;
}

.wc_payment_methods.transfer.selected .wc_payment_method label {
  display: none!important;
}
  
  .wc_payment_methods.banks.selected .wc_payment_method {
    display: block;
    background-color: transparent!important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  .payment-selector-wrapper {
    padding: 1.5rem
  }
  
  #payment .payment_methods {
    margin-bottom: 1rem !important;
    border-bottom: 1px solid #ccc;
  }

  #payment .payment_methods.hidden {
    /* display:none; */
  }
  
  #payment .place-order {
    margin-top: 0rem
  }
  
  .payment-methods-header {
    padding-left: 1.5rem;
  }
  
  #payment .payment_methods li input[type=radio]:first-child:checked+label:before {
    color: var(--blue);
  }
  
  .form-row .optional {
    /* height:0; */
    line-height: 31px;
    font-size: 0;
    display: inline-block;
  }
  
  .wooccm-field-wooccm15 .required,
  .wooccm-field-wooccm14 .optional {
    position: relative;
  }
  
  .wooccm-field-wooccm15 .required .description,
  .wooccm-field-wooccm14 .optional .description {
    color: #444;
    text-decoration: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    background-color: #fff;
    padding: 0.5rem;
    z-index: 5;
    line-height: 1.3em;
  }
  
  .description ul {
    margin-bottom: 0;
  }
  
  .wooccm-field-wooccm14 .optional::after {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    width: 20px;
    height: 20px;
    background-image: url(src/info3.svg);
    background-size: 5px;
    background-repeat: no-repeat;
    background-color: var(--blue);
    background-position: center;
  }
  
  .woocommerce-privacy-policy-text {
    display: none;
  }
  
  #billing_wooccm22_field,
  #billing_wooccm15_field,
  #billing_wooccm16_field {
    position: relative;
  }
  
  #billing_wooccm22_field .description,
  #billing_wooccm15_field .description,
  #billing_wooccm16_field .description {
    display: block !important;
    text-decoration: underline;
    position: absolute;
    /* top:20px; */
    left: 15px;
    font-size: 0.8em;
    bottom: 0;
    transform: translateY(60%);
  }
  
  #billing_wooccm15_field .required .description {
    display: none !important;
  }
  
  .about-content-wrapper {
    display: flex;
    margin-bottom: 8rem;
  }
  
  .about-content-wrapper .about-main-img {
    flex: 0 0 50%;
    background-size: cover;
    background-position: center;
  }
  
  .about-content-wrapper .about-text-content {
    padding-left: 4rem;
  }
  
  @media screen and (max-width: 991px) {
    .about-content-wrapper {
      flex-direction: column;
    }
  
    .about-content-wrapper .about-main-img {
      padding-top: 60%;
      margin-bottom: 2rem;
    }
  
    .about-content-wrapper .about-text-content {
      padding-left: 0rem;
    }
  }
  
  .card-labels {
    background-image: url(src/cards.png);
    width: 150px;
  
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 0;
    background-position: center;
  }
  
  .over-500 {
    font-weight: 700;
    color: var(--orange);
  }
  
  @media screen and (max-width:768px) {
    table.cart .product-thumbnail img {
      max-width: 200px;
    }
  }
  
  .discounts {
    padding: 0 1rem;
    background-color: var(--blue);
    color: #fff;
    margin: 1rem 0;
  }
  
  .discounts .disc-row {
    display: flex;
    justify-content: space-between;
  }

.discounts .disc-row:first-child {
  padding-top: .7rem;
}

.discounts .disc-row:last-child {
  padding-bottom: .7rem;
}
  
  @media screen and (max-width: 768px) {
  
    .woocommerce-product-gallery__image {
      padding-top: 100%;
    }
  
    .woocommerce-product-gallery__image.zoomed {
      overflow: scroll !important;
  
    }

    .woocommerce-product-gallery__image.zoomed .zoomImg{
      top:0!important;
      left:0!important;
    }
  
    .wp-post-image {
      position: absolute;
      top: 0;
      left: 0;
  
    }
  }
  
  .mobile-cart .items-in-cart {
    display:none;
  }
  
  @media screen and (max-width: 991px) {
  
    .mobile-cart .items-in-cart {
      position: absolute;
      top: -5px;
      left: 50%;
      background-color: var(--orange);
      width: 20px;
      height: 20px;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #fff;
      transform: translateX(-40%);
      font-weight: 700;
      font-size: 0.8em;
    }
    
    .mobile-cart .items-in-cart.show {
      display: flex;
    }
  }
  
  .mobile-weight-disclaimer {
    display:none;
  }
  
  @media screen and (max-width: 991px) {
  
    .mobile-weight-disclaimer {
      display:none;
      position: absolute;
      top:100%;
      left:0;
      width: 100%;
      font-size: 0.8em;
      background-color: var(--orange);
      padding: 0.3rem 0.5rem;
      text-align:center;
      color:#fff;
    }
  
    .mobile-weight-disclaimer.show {
      display:block
    }
  }

.discount-message-wrapper {
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  transform: translateY(0px);
  opacity:1;
  transition: all 0.3s;
}

.discount-message-wrapper.appear {
  transform: translateY(20px);
  opacity:0;
}
.discount-message-wrapper.disappear {
  transform: translateY(-20px);
  opacity:0;
}

.discount-message-wrapper .discount-message {
  background-color: green;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  color: #fff;
  font-weight:700;
  text-align:center;
}

.flex-control-nav {
  margin:0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.flex-control-nav li img{
  border: 2px solid #efefef;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.flex-control-nav li img.flex-active{
  border: 2px solid var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.payment-disclaimer {
  padding: 0 1.5rem;
}

.select-payment {
    text-align: center;
    color: red;
    font-weight: 700;
}

.select-payment.hidden {
    display: none;
}

.form-row.place-order {
    position: relative;
}

.form-row.place-order .order-blocker {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.form-row.place-order .order-blocker.hidden {
    display: none;
}